/backend/node_modules
/backend/package-lock.json
/frontend/node_modules
/frontend/package-lock.json
/frontend/.vscode
/backend/.env
/backend/uploads
deploy.sh
ecosystem.config.js
/frontend/yarn.lock
/frontend/package.json